1.	Read the heart dataset which is in csv format and do descriptive analytics
2.	Split the data into 70% and 30%  and define the random_state as 100
3.	Build  Ensemble Models - Bagging, Boosting  and stacking   
4.	Train the model with training dataset
5.	Predict the model with test dataset
6.	Find the accuracy and write inference.

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

1.	Read the heart dataset which is in csv format and do descriptive analytics

In [4]:
Data = pd.read_csv("Heart_risk.csv")
Data.head()

,Age,Sex,ChestPainType,RestBloodPressure,SerumCholestoral,FastingBloodSugar,ResElectrocardiographic,MaxHeartRate,ExerciseInduced,Oldpeak,Slope,MajorVessels,Thal,Class
0,47,1,4,112,204,0,0,143,0,1.0,1,0,3,1
1,65,0,3,140,417,1,2,157,0,8.0,1,1,3,1
2,48,1,2,130,245,0,2,180,0,2.0,2,0,3,1
3,42,1,2,120,295,0,0,162,0,0.0,1,0,3,1
4,53,1,3,130,197,1,2,152,0,12.0,3,0,3,1

In [5]:
Data.tail()

,Age,Sex,ChestPainType,RestBloodPressure,SerumCholestoral,FastingBloodSugar,ResElectrocardiographic,MaxHeartRate,ExerciseInduced,Oldpeak,Slope,MajorVessels,Thal,Class
211,47,1,4,110,275,0,2,118,1,1.0,2,1,3,2
212,70,1,4,145,174,0,0,125,1,26.0,3,0,7,2
213,46,1,4,120,249,0,2,144,0,8.0,1,0,7,2
214,65,1,4,135,254,0,2,127,0,28.0,2,1,7,2
215,61,0,4,130,330,0,2,169,0,0.0,1,0,3,2

In [6]:
Data.dtypes

Age                           int64
Sex                           int64
ChestPainType                 int64
RestBloodPressure             int64
SerumCholestoral              int64
FastingBloodSugar             int64
ResElectrocardiographic       int64
MaxHeartRate                  int64
ExerciseInduced               int64
Oldpeak                     float64
Slope                         int64
MajorVessels                  int64
Thal                          int64
Class                         int64
dtype: object

In [7]:
Data.describe()

,Age,Sex,ChestPainType,RestBloodPressure,SerumCholestoral,FastingBloodSugar,ResElectrocardiographic,MaxHeartRate,ExerciseInduced,Oldpeak,Slope,MajorVessels,Thal,Class
count,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000,216.000000
mean,54.773148,0.699074,3.125000,130.953704,249.203704,0.148148,1.069444,150.004630,0.337963,8.995370,1.564815,0.745370,4.699074,1.444444
std,9.179321,0.459726,0.987421,16.970225,47.940032,0.356072,0.997575,22.231027,0.474115,11.293339,0.598807,0.966883,1.949883,0.498058
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,88.000000,0.000000,0.000000,1.000000,0.000000,3.000000,1.000000
25%,48.000000,0.000000,2.000000,120.000000,213.750000,0.000000,0.000000,133.750000,0.000000,0.000000,1.000000,0.000000,3.000000,1.000000
50%,56.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.000000,0.000000,4.000000,2.000000,0.000000,3.000000,1.000000
75%,61.250000,1.000000,4.000000,140.000000,281.250000,0.000000,2.000000,166.500000,1.000000,15.000000,2.000000,1.000000,7.000000,2.000000
max,77.000000,1.000000,4.000000,192.000000,417.000000,1.000000,2.000000,202.000000,1.000000,62.000000,3.000000,3.000000,7.000000,2.000000

In [8]:
Data['Class'].value_counts()

1    120
2     96
Name: Class, dtype: int64

In [9]:
Data.isnull().sum()

Age                         0
Sex                         0
ChestPainType               0
RestBloodPressure           0
SerumCholestoral            0
FastingBloodSugar           0
ResElectrocardiographic     0
MaxHeartRate                0
ExerciseInduced             0
Oldpeak                     0
Slope                       0
MajorVessels                0
Thal                        0
Class                       0
dtype: int64

In [10]:
import seaborn as sns
sns.pairplot(Data,diag_kind='kde')
import matplotlib.pyplot as plt
plt.show()

In [11]:
Data.shape

(216, 14)

2.Split the data into 70% and 30%  and define the random_state as 100

In [12]:
X=Data.drop(['Class'],axis=1)
Y=Data[['Class']]

In [13]:
# Spliting the dataset into train and test 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 100)

#Build  Ensemble Models - Bagging, Boosting  and stacking

In [14]:
clf_gini = DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=3, 
                                  min_samples_leaf=5)

In [15]:
clf_gini.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [16]:
y_pred = clf_gini.predict(X_test) 
print("Predicted values:") 
print(y_pred)# GiniIndex
print(confusion_matrix(y_test, y_pred))

Predicted values:
[2 1 2 2 1 2 2 1 1 2 2 1 2 1 2 1 2 2 1 1 2 2 2 2 1 1 1 1 2 1 2 2 2 1 2 2 1
 1 1 2 2 1 1 1 2 1 1 1 1 2 2 1 1 2 1 1 1 1 1 2 1 2 1 2 2]

NameError: name 'y_test' is not defined

In [ ]:
# GiniIndex
print(confusion_matrix(Y_test, y_pred))

In [ ]:
accuracy_score(Y_test,y_pred)

In [ ]:
clf_entropy = DecisionTreeClassifier( criterion = "entropy", random_state = 100,max_depth = 3,
                                     min_samples_leaf = 5)

In [ ]:
clf_entropy.fit(X_train, Y_train)

In [ ]:
y_pred_2 = clf_entropy.predict(X_test) 
print("Predicted values:") 
print(y_pred_2)

In [ ]:
print(confusion_matrix(Y_test, y_pred_2))

In [ ]:
accuracy_score(Y_test,y_pred_2)

BAGGING CLASSIFIER AND BOOSTING CLASSIFIER

In [ ]:
from sklearn.ensemble import BaggingClassifier

In [ ]:
mdl=DecisionTreeClassifier()

In [ ]:
model = BaggingClassifier(base_estimator=mdl, n_estimators=100, random_state=100)

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
y_pred3 = model.predict(X_test) 
print("Predicted values:") 
print(y_pred3)

In [ ]:
print(confusion_matrix(Y_test, y_pred3))

In [ ]:
accuracy_score(Y_test,y_pred3)

In [ ]:
from sklearn import model_selection
import warnings
warnings.filterwarnings('ignore')

In [ ]:
kfold = model_selection.KFold(n_splits=10, random_state=100)

In [ ]:
results = model_selection.cross_val_score(model, X_test, Y_test, cv=kfold)
print(results.mean())

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
kfold = model_selection.KFold(n_splits=10, random_state=100)

In [ ]:
model1 = AdaBoostClassifier(base_estimator=mdl,n_estimators=10, random_state=100)

In [ ]:
model1.fit(X_train, Y_train)

In [ ]:
y_pred4 = model1.predict(X_test) 
print("Predicted values:") 
print(y_pred4)

In [ ]:
accuracy_score(Y_test,y_pred4)

In [ ]:
results = model_selection.cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier

In [ ]:
LR=LogisticRegression()
NB=GaussianNB()
KNN=KNeighborsClassifier(n_neighbors=12, weights='distance')

In [ ]:
LR_bag=BaggingClassifier(base_estimator=LR,n_estimators=25,random_state=100)
NB_bag=BaggingClassifier(base_estimator=NB,n_estimators=24,random_state=100)
KNN_bag=BaggingClassifier(base_estimator=KNN,n_estimators=80,random_state=100)
#Boosting models
LR_boost=AdaBoostClassifier(base_estimator=LR,n_estimators=170)
NB_boost=AdaBoostClassifier(base_estimator=NB,n_estimators=350)
GB_boost=GradientBoostingClassifier(n_estimators=100)
#Stacked Model
stacked = VotingClassifier(estimators = [('Bagged_LR',LR_bag), 
                                         ('GBoost', GB_boost)],voting='soft')

In [ ]:
LR_bag.fit(X_train, Y_train)
y_pred5 =LR_bag.predict(X_test) 
print("Predicted values:") 
print(y_pred5)
accuracy_score(Y_test,y_pred5)

In [ ]:
LR_boost.fit(X_train, Y_train)
y_pred6=LR_boost.predict(X_test) 
print("Predicted values:") 
print(y_pred6)
accuracy_score(Y_test,y_pred6)

In [ ]:
NB_bag.fit(X_train, Y_train)
y_pred7=NB_bag.predict(X_test) 
print("Predicted values:") 
print(y_pred7)
accuracy_score(Y_test,y_pred7)

In [ ]:
NB_boost.fit(X_train, Y_train)
y_pred9 =NB_boost.predict(X_test) 
print("Predicted values:") 
print(y_pred9)
accuracy_score(Y_test,y_pred9)

In [ ]:
GB_boost.fit(X_train, Y_train)
y_pred8 =GB_boost.predict(X_test) 
print("Predicted values:") 
print(y_pred8)
accuracy_score(Y_test,y_pred8)

In [ ]:
stacked.fit(X_train, Y_train)
y_pred10 =stacked.predict(X_test) 
print("Predicted values:") 
print(y_pred10)
accuracy_score(Y_test,y_pred10)

In [ ]:
#Based on the model building decision tree classifier has highest accuracy (0.84) among gradient
#boost,naive's bayes,logistic regressors.